.modo-claro {
  background-color: var(--bg-color-claro);
  color: var(--tx-color-claro);
}

.modo-oscuro {
  background-color: var(--bg-color-oscuro);
  color: var(--tx-color-oscuro);
}


img {
  width: 24px;
  height: 24px;
}
