<div class="product-container">
  <h2>Productos o Servicios</h2>
  <div class="movie-card">
    <img src="assets/img/interstellar.jpg" class="card-img" alt="Interstellar">
    <div class="card-body">
      <h3>Interstellar</h3>
      <p>Una película de ciencia ficción dirigida por Christopher Nolan. Un grupo de astronautas viajan a través de un agujero de gusano en busca de un nuevo hogar para la humanidad.</p>
    </div>
  </div>

  <div class="movie-card">
    <img src="assets/img/gladiator2.jpg" class="card-img" alt="Gladiator 2">
    <div class="card-body">
      <h3>Gladiator 2</h3>
      <p>"Gladiator 2" es la esperada secuela del aclamado film de Ridley Scott, "Gladiator" (2000). La película continúa la historia de Máximo Décimo Meridio, pero en esta secuela, la trama se enfoca en el hijo de Máximo, Lucio, quien sobrevive al caos de la primera película y crece con un fuerte deseo de vengar la muerte de su padre y restaurar la justicia en Roma. </p>
    </div>
  </div>

  <div class="movie-card">
    <img src="assets/img/mufasa.jpeg" class="card-img" alt="Mufasa">
    <div class="card-body">
      <h3>Mufasa</h3>
      <p>"Mufasa: The Lion King Prequel" es una película que sirve como una precuela de "The Lion King" (2019). La película profundiza en la historia de Mufasa, el amado rey león, antes de convertirse en el líder de la Tierra de los Leones.</p>
    </div>
  </div>
</div>
