/* Estilos Generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: 'Georgia', serif;
  color: #6a3e8a;
  /* Morado oscuro */
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  text-align: center;
}

/* Sección About */

.modo-claro {
  background-color: var(--bg-color-claro) !important;
  color: var(--tx-color-claro) !important;
}

.modo-oscuro {
  background-color: var(--bg-color-oscuro);
  color: var(--tx-color-oscuro) !important;
}
.about-container {
  background-color: #f7e7ff;
  /* Fondo morado claro */
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-container h1 {
  color: #6a3e8a;
}

.about-container h2 {
  color: #8b5cf6;
  /* Morado intermedio */
}

.about-container p {
  color: #4a4a4a;
}
