/* You can add global styles to this file, and also import other style files */
:root {
  --bg-color-oscuro: #261e35;
  --tx-color-oscuro: #c7b2ed;
  --border-color-oscuro: #261e35;

  --bg-color-claro: #c7b2ed;
  --tx-color-claro: #261e35;
  --border-color-claro: #c7b2ed;

  --fuente-grande: 40px;
  --fuente-pequenia: 20px;

  --margin: 2rem;
  --padding: 0.8rem;
  --border-radio: 20px;
}

.modo-claro {
  background-color: var(--bg-color-claro) !important;
  color: var(--tx-color-claro) !important;
}

.modo-oscuro {
  background-color: var(--bg-color-oscuro);
  color: var(--tx-color-oscuro) !important;
}


.icono {
  width: 24px;
  height: 24px;
}

.fuente-pequenia {
  font-size: var(--fuente-pequenia);
}

.fuente-grande {
  font-size: var(--fuente-grande);
}

.btn {
  background-color: var(--bg-color-oscuro);
  border: var(--borde-oscuro);
}

